.about{
  .container {
    @media(max-width: 575px){
      padding-left: 0;
      padding-right: 0;
    }
  }
  &Title {
    font-size: 32px;
    font-family: $font-family-nunito;
    font-weight: 800;
    letter-spacing: 1.6px;
    line-height: 48px;
    color: #fff;
    @media(max-width: 991px){
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.05em;
    }
  }
  &W {
    display: grid;
    grid-template-columns: 50% 50%;
    @media(max-width: 767px){
      grid-template-columns: 1fr;
      
    }
  }
  &L {
    background-color: #16191C;
    padding-top: 60px;
    padding-left: 55px;
    padding-right: 52px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width: 575px){
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &R {
    img {
      height: 520px;
      width: 100%;
      object-fit: cover;
      min-height: 100%;
      @media(max-width: 1400px){
        height: 450px;
      }
      @media(max-width: 575px){
        height: 335px;
      }
    }
  }
  .content {
    color: #fff;
    margin-top: 19px;
    font-size: 16px;
    line-height: 26px;
    font-family: $font-family-nunito;
    margin-bottom: 30px;
  }
}