.contacts {
  &W {
    display: grid;
    grid-template-columns: 50% 50%;
    @media(max-width: 991px){
      grid-template-columns: 1fr;
      position: relative;
    }
  }

  &L {
    background-color: #36AF42;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 52px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    @media(max-width: 1400px){
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 100px;
    }
    @media(max-width: 1199px){
      padding-left: 70px;
    }
    @media(max-width: 575px){
      padding-left: 20px;
      padding-top: 40px;
    }
  }

  &R {
    background: #16191C url('@img/contacts/star.svg') no-repeat right center / contain;
    padding-top: 80px;
    padding-right: 120px;
    padding-bottom: 80px;
    padding-left: 120px;
    position: relative;
    @media(max-width: 1400px){
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 100px;
      padding-right: 100px;
    }
    @media(max-width: 1199px){
      padding-right: 70px;
    }
    @media(max-width: 991px){
      position: unset;
    }
    @media(max-width: 575px){
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .h2 {
      color: #36AF42;
      margin-bottom: 30px;
      @media(max-width: 1199px){
        font-size: 24px;
        line-height: 32px;
      }
    }
    .m {
      position: absolute;
      left: -190px;
      top: 50%;
      transform: translateY(-50%);
      @media(max-width: 1400px){
        left: -200px;
      }
      @media(max-width: 1199px){
        left: -140px;
      }
      @media(max-width: 991px){
        left: unset;
        right: -70px;
        top: 40px;
        transform: none;
      }
      @media(max-width: 370px){
        right: -90px;
      }
      img {
        @media(max-width: 1199px){
          width: 200px;         
        }
        @media(max-width: 370px){
          width: 170px;
        }
      }
    }

  }

  &Item {
    &Name {
      font-size: 15px;
      font-family: $font-family-nunito;
      line-height: 20px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &Link {
      font-size: 16px;  
      line-height: 26px;
      max-width: 280px;
      font-weight: 400;
      transition: color .2s linear;  
      font-family: $font-family-nunito;
      @media(max-width: 1199px){
        max-width: 260px;
      }
      &:hover {
        color: #fff;
      }
    }
  }

  .formInput {
    background-color: #fff;
  }

  .formText {
    background-color: #fff;
  }
  .container--lg {
    @media(max-width: 991px){
      padding-left: 0;
      padding-right: 0;
    }
  }
}