.intro {
  position: relative;
  z-index: 1;
  &>.container {
    @media(max-width: 575px){
      padding-left: 0;
      padding-right: 0;
    }
  }

  &Title {
    color: #fff;
    max-width: 920px;
    margin-bottom: 6px;
    white-space: normal;
  }

  &Slide {
    height: auto;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(4deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .container {
      padding-top: 220px;
      padding-bottom: 55px;
      position: relative;

      @media(max-width: 1400px) {
        padding-top: 170px;
      }
      @media(max-width: 991px){
        padding-top: 62px;
      }
      @media(max-width: 575px){
        padding-bottom: 62px;
      }
    }
  }

  &Descr {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    @media(max-width: 575px){
      margin-bottom: 20px;
    }
  }

  &W {
    position: relative;
    background-position: center;


    .container {
      position: relative;
      z-index: 1;

    }


    .headerNav {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      background: rgba(22, 25, 28, 0.70);
      padding-left: 20px;
      padding-right: 20px;

      @media(max-width: 991px) {
        position: fixed;
        background-color: #fff;
        padding-left: 0;
        padding-right: 0;
      }

      ul {

        flex-wrap: wrap;

        li {
          a {}
        }
      }
    }
  }
}