// modal
.modal {
  &-header {
    padding: 45px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  &-body {
    padding: 45px;
    padding-top: 0;
  }

  &-title {
    font-size: 23px;
  }
  &-content {   
    border-radius: 0;
    &.contactsR {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
      padding-top: 40px;
      background: url('@img/modal/modal-star.svg') right center / cover no-repeat rgb(22, 25, 28);
      position: relative;
    }
    .contactsButton {
      width: 150px;
      @media(max-width: 430px){
        width: 100%;
      }
    }
    .contactsTitle {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
.modal-dialog {
  max-width: 640px;
}
.btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  box-sizing: border-box;
  padding: 0;
  width: 24px;
  height: 24px;
}
